<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Plasma</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


    <!-- header-start -->
    {% include 'header.html' %}
    <!-- header-end -->
    <div style="border: 6px solid blue;"><img src="static/img/video/blood.gif " style="margin-top: 9%;width: 40%; align-content: center;margin-left: 30%; background-color: transparent;"></div>
    <!-- bradcam_area_start  -->
    <h1 style="margin-top: 10%;margin-left:42%">
        Plasma Donor
        </h1>
    <div style=" margin-top: 2%;">

                    <form method="POST" role="form" action="/plasma_donor" style="margin-left: 35%;">
                        <div>
                            
                            <div style="margin-top: 2%; margin-left: 2%; width: 45%;height:45px " >
                                
                                <input type="text" name='username' placeholder="Your name " style="border:0.5px solid lightgray;width: 100%;height:45px" ><br>
                            </div> 
                            <div style="margin-top: 2%; margin-left: 2%;width: 45%;height:45px"> 
                                <input type="tel"   name='phone' placeholder="Phone number " style="border:0.5px solid lightgray;width: 100%;height:45px"><br>
                            </div>
                           
                            <div style="margin-top: 2%; margin-left: 2%; ">
                                <select id="default-select" class="" style="width: 45%; " name='blood'><br>
                                    <option data-display="Blood Group">Blood Group</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    
                                </select><br>
                            </div>
                            <br>
                            <div class="col-xl-6" style="margin-top: 2%;  width: 50%;height:45px " >
                                <input type="number" placeholder="Age"  name='age' id="datepicker1"  style="border:0.5px solid lightgray;width: 100%;height:45px"></div>
                            <br>
                            <div class="col-xl-6" style="margin-top: 2%;width: 50%;height:45px">Tested Negative Date:
                                <input type="date" placeholder="Date when you found negative" name='negative_date' id="datepicker2" style="border:0.5px solid lightgray;width: 100%;height:45px">
                            </div>
                            <div class="col-xl-6" style="margin-top: 6%;" style="border:0.5px solid lightgray;width: 100%;height:45px ">Vaccine Taken:<br>
                                <input type="radio" name='vaccine_yes' id="yes" value="Yes" >Yes
                                <input type="radio" name='vaccine_yes' id="yes" value="No"  style="border:0.5px solid lightgray;margin-left: 5%;">No
                            </div>
                            <div class="col-xl-6" style="margin-top: 6%;" style="border:0.5px solid lightgray;width: 100%;height:45px ">Passed with any major disease<br>
                                <input type="radio" name='passed_yes' id="yes" value="Yes" style="margin-left: 5%;" >Yes
                                <input type="radio" name='passed_yes' id="yes" value="No" style="margin-left: 5%;" >No
                            </div>
                            </div>
                            <div class="col-xl-6" style="margin-top: 6%;" style="border:0.5px solid lightgray;width: 100%;height:45px ">Undergone any major surgery within 6-12 months:<br>
                                <input type="radio" name='surgery_yes' id="yes" value="Yes"  style="margin-left: 5%;">Yes
                                <input type="radio" name='surgery_yes' id="yes" value="No" style="margin-left: 5%;">No
                            </div>
                            <div class="col-xl-6" style="margin-top: 6%;" style="border:0.5px solid lightgray;width: 100%;height:45px ">Have any disease like Diabetes,Blood pressure:<br>
                                <input type="radio" name='disease_yes' id="yes" value="Yes" style="margin-left: 5%;">Yes
                                <input type="radio" name='disease_yes' id="yes" value="No" style="margin-left: 5%;">No
                            </div>
                            <div class="col-xl-12" style="margin-top: 5%; margin-left: 15%;">
                                <button type="submit" class="boxed-btn3" onclick="plasma_donor">Register</button>
                            </div>
                        </div>
                    </form>
                </div>

    </div>
    <br><br>
    <footer class="footer">
        <!-- <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="static/img/logo.png" alt="">
                                </a>
                            </div>
                            <p class="address_text">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Our Departments
                            </h3>
                            <ul class="links">
                                <li><a href="#">Births</a></li>
                                <li><a href="#">Pulmonary</a></li>
                                <li><a href="#">Cardiology</a></li>
                                <li><a href="#">Neurology</a></li>
                                <li><a href="#">Traumatology</a></li>
                                <li><a href="#">Dental</a></li>
                                <li><a href="#">Nuclear</a></li>
                                <li><a href="#">magnetic</a></li>
                                <li><a href="#">Pregnancy</a></li>
                                <li><a href="#">For disabled</a></li>
                                <li><a href="#">X-ray</a></li>
                                <li><a href="#">Prostheses</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4  col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                We’re Available
                            </h3>
                            <ul class="meting_time">
                                <li class="d-flex justify-content-between "><span>Monday - Friday</span> <span>8.00 - 18.00</span></li>
                                <li class="d-flex justify-content-between "><span>Saturday	</span> <span>8.00 - 18.00</span></li>
                                <li class="d-flex justify-content-between "><span>Sunday</span> <span>8.00 - 13.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        {% include 'footer.html' %}
 
    <!-- JS here -->
    <script src="static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/ajax-form.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/scrollIt.js"></script>
    <script src="static/js/jquery.scrollUp.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/nice-select.min.js"></script>
    <script src="static/js/jquery.slicknav.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="static/js/contact.js"></script>
    <script src="static/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/js/jquery.form.js"></script>
    <script src="static/js/jquery.validate.min.js"></script>
    <script src="static/js/mail-script.js"></script>

    <script src="static/js/main.js"></script>
    <!-- <script>
        $('.datepicker').datepicker();

    </script> -->
</body>

</html>