<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Search Hospitals</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/gijgo.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/style.css">
    
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {% include 'header.html' %}
    <!-- header-start -->
        <!-- header-end -->

    <!-- bradcam_area_start  -->
    <div style="border: 6px solid blue;"><img src="static/img/video/covid2.gif " style="margin-top: 7.8%;width: 40%; align-content: center;margin-left: 30%; background-color: transparent;"></div>
    <!-- bradcam_area_end  -->

    <!-- depertment_area_start  -->
   
            
        </div>
    </div>
    <!-- depertment_area_end  -->

    <!-- quality_area_start  -->
   
    <!-- quality_areaend  -->

    <!-- Emergency_contact start -->
    <!-- <div class="Emergency_contact"> -->
        <!-- <div class="Emergency_contact_inner ">
            <div class="container"> -->
                <section id="abc" class="text-gray-600 body-font">
                    <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end " style="margin-left: 10%;padding-left: 15%; margin-top: 2%;" >
                        <form method="POST" role="form" action="/Everyday brings new choices">  
                            <div class="btn_style" style=" margin-left:20%;"> 
                                <label for="full-name" class="leading-7 text-sm text-gray-600 " style="margin-top: 20%;font-size: 20px; font-weight: bolder;">Area</label><br>
                                <select name="arealst" id="area" style="width:100px">
                                    <option value="select" width="30px">Please select</option>
                                        {%- for i in temp %}
                                        <option value="{{i[0]}}">{{i[0]}}</option>
                                    {%- endfor %}
                                    </select>
                                </div>
                            <div class="btn_style"  style=" margin-left:10%; ">
                                <label for="email" class="leading-7 text-sm text-gray-600" style="margin-top: 20%;font-size: 20px; font-weight: bolder;">Services</label><br>
                                <select id="category" name="category">
                                    <option value="all" style="min-width:max-content; max-width: max-content;">Please select</option>
                                        <option value="all">All  </option>
                                        <option value="no_of_beds" style="width: 20%;">No Of Beds  </option>
                                        <option value="no_of_oxygen">No Of Oxygen</option>
                                        <option value="no_of_remdesivir">Remdesivir  </option>
                                </select>
                            </div>
                            <div class="wdth_full flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end " style="margin-left: 10%;">
                                    <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg " style="margin-left: 44%;  margin-top: 7%;" onclick="search_word">Search</button></div>
                        </form>
                    </div>
                
                  </section>
                  <section class="text-gray-600 body-font">
                    <div class="container px-5 py-24 mx-auto" style="border-width: 3%;">
                  <h3 style="margin-left: 38%;">Available services</h3><br>
                  <table class="table" style="border: 1px;">
                        <tr>
                            <thead>
                            {%- for column in columns %}
                               <th scope="col">{{column}}</th>
                            {%- endfor %}
                           </thead>
                      </tr>
                      {% for item in data %}
                      <tr>
                          <td>{{item[0]}}</td>
                          <td>{{item[1]}}</td>
                          <td>{{item[2]}}</td>
                          <td>{{item[3]}}</td>
                          <td>{{item[4]}}</td>
                          <td>{{item[5]}}</td>
                          <td>{{item[6]}}</td>
                          <td>{{item[7]}}</td>
                          <td>{{item[8]}}</td>
                          <td>{{item[9]}}</td>
                          ...
                      </tr>
                      {% endfor %}

                  </table>
                </section>
            </div>
    <!-- Emergency_contact end -->

    <footer class="footer">
        <!-- <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="static/img/logo.png" alt="">
                                </a>
                            </div>
                            <p class="address_text">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Our Departments
                            </h3>
                            <ul class="links">
                                <li><a href="#">Births</a></li>
                                <li><a href="#">Pulmonary</a></li>
                                <li><a href="#">Cardiology</a></li>
                                <li><a href="#">Neurology</a></li>
                                <li><a href="#">Traumatology</a></li>
                                <li><a href="#">Dental</a></li>
                                <li><a href="#">Nuclear</a></li>
                                <li><a href="#">magnetic</a></li>
                                <li><a href="#">Pregnancy</a></li>
                                <li><a href="#">For disabled</a></li>
                                <li><a href="#">X-ray</a></li>
                                <li><a href="#">Prostheses</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4  col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                We’re Available
                            </h3>
                            <ul class="meting_time">
                                <li class="d-flex justify-content-between "><span>Monday - Friday</span> <span>8.00 - 18.00</span></li>
                                <li class="d-flex justify-content-between "><span>Saturday	</span> <span>8.00 - 18.00</span></li>
                                <li class="d-flex justify-content-between "><span>Sunday</span> <span>8.00 - 13.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        {% include 'footer.html' %}
    <!-- JS here -->
    <script src="static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/ajax-form.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/scrollIt.js"></script>
    <script src="static/js/jquery.scrollUp.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/nice-select.min.js"></script>
    <script src="static/js/jquery.slicknav.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="static/js/contact.js"></script>
    <script src="static/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/js/jquery.form.js"></script>
    <script src="static/js/jquery.validate.min.js"></script>
    <script src="static/js/mail-script.js"></script>

    <script src="static/js/main.js"></script>
    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });

    </script>
</body>

</html>